<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>
    <footer th:fragment="footer">
       <p>&copy; 2025 Nexus Aerolíneas. Todos los derechos reservados.</p>
	   <p>La reproducción total o parcial de este sitio y su contenido (incluyendo código, diseño y gráficos) sin autorización expresa está estrictamente prohibida.</p>
       <p>Medellín, Antioquia, Colombia</p>
       <p><a href="#">Términos y Condiciones</a> | <a href="#">Política de Privacidad</a></p>
   </footer>
</body>
</html>